@font-face {
    font-family: 'communistitalic';
    src: url('../fonts/commi___-webfont.woff2') format('woff2'),
         url('../fonts/commi___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'communistitalic';
	src: url('../fonts/commi___-webfont.woff2') format('woff2'),
}
body{
	background-color: #1a3bce;

}

header {
	text-align: center;
}

h1 {  
	border-bottom: 5px solid #000;
	padding-bottom: 10px;
	color: #fff;
	font-family: 'communistitalic';
}

h2 {
	color: #fff;
	font-family: 'communistitalic';
}

p {
	font-family: 'communistitalic', cursive;
	color: #fff;
	line-height: 28px;
}

img {
	width: 100%;
	height: auto;
}

#first-section {
	background-color: #a01818;
    padding: 50px;
    width: 60%;
    margin: 50px auto;
}

#first-section .img-wrap {
	width: 45%;
	margin-right: 5%;
	float: left;
}

#first-section .text-wrap {
	width: 50%;
	float: left;
}

#second-section {
	background-color: #a01818;
    padding: 50px;
    width: 60%;
    margin: 50px auto;
}

#second-section .img-wrap {
	width: 45%;
	margin-left: 5%;
	float: left;
}

#second-section .text-wrap {
	width: 50%;
	float: left;
}




#profile-wrap {
     width: 40%;
     margin-right: 10%;
     float: left;
}

#profile-wrap img {
	width: 100%;
}

#bio-wrap {
     width: 50%;
     float: right;
}

.clear{
	clear: both;
}

.links {
	text-decoration: none;
	font-family: 'gregshand', 'Georgia', serif;
	font-size: 20px;
}

